layout {
    tab hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zj-status-bar.wasm"
        }
        pane
        floating_panes {
            pane command="bash" {
                args "-c" "$HOME/.config/zellij/scripts/claude-float.sh"
                x 0
                y 0
                width "100%"
                height "100%"
            }
        }
    }
    new_tab_template hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zj-status-bar.wasm"
        }
        pane
        floating_panes {
            pane command="bash" {
                args "-c" "$HOME/.config/zellij/scripts/claude-float.sh"
                x 0
                y 0
                width "100%"
                height "100%"
            }
        }
    }
}
